<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test de Autodiagnóstico</title>
</head>
<body>
    <div class="container">
        <h1>Formulario de Autodiagnóstico</h1>
        <form action="#" th:action="@{/}" th:object="${paciente}" method="post">
            C.A.: <select name="ca" id="ca" th:field="*{comunidadAutonoma}">
                <option value="Andalucía">Andalucía</option>
                <option value="Aragón">Aragón</option>
                <option value="Principado de Asturias">Principado de Asturias</option>
                <option value="Islas Baleares">Islas Baleares</option>
                <option value="País Vasco">País Vasco</option>
                <option value="Canarias">Canarias</option>
                <option value="Cantabria">Cantabria</option>
                <option value="Castilla-La Mancha">Castilla-La Mancha</option>
                <option value="Castilla y León">Castilla y León</option>
                <option value="Cataluña">Cataluña</option>
                <option value="Extremadura">Extremadura</option>
                <option value="Galicia">Galicia</option>
                <option value="Comunidad de Madrid">Comunidad de Madrid</option>
                <option value="Región de Murcia">Región de Murcia</option>
                <option value="Comunidad Foral de Navarra">Comunidad Foral de Navarra</option>
                <option value="La Rioja">La Rioja</option>
                <option value="Comunidad Valenciana">Comunidad Valenciana</option>
                <option value="Ceuta">Ceuta</option>
                <option value="Melilla">Melilla</option>
            </select>
            Ciudad: <input type="text" name="ciudad" id="ciudad" th:field="*{ciudad}">
            Código Postal: <input type="text" name="codigoPostal" id="codigoPostal" th:field="*{codigoPostal}">
            Edad: <input type="number" name="edad" id="edad">
            <input type="submit" value="Enviar">
        </form>
    </div>
</body>
</html>